<html x-ng-app="TicTacToeApp">
<head>
	<title>TIC TAC TOE</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
  	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  	<script type="text/javascript" src="script.js"></script>
 


</head>
<body  x-ng-controller="gameController">

<!-- WINNING BACKGROUND -->
<div id="winningback">
		<p class="winningclass">YOU WIN</p>
		<a href="http://www.animateit.net"> <img  src="http://www.animateit.net/data/media/199/ufo008.gif" border="0" alt="UFO Spaceship from AnimateIt.net" /> </a>
</div> 
<!-- END OF WINNING BACKGROUNG HTML -->

	<h1 id="gameTitle">TIC TAC SPACE</h1>

	<div  id="board">
		<div class="rows" x-ng-repeat="r in game.rows track by $index">
			<div class="cell" x-ng-click="check($parent.$index,$index)"  x-ng-repeat= "c in r track by $index" x-ng-class="{cellclick: c =='X',cellclick2: c=='O'}">
			</div>
		</div>
	</div>



<!-- spaceship HTML-->
<div id="AlienBack">
		<img src="http://caccioppoli.com/2008%20gifs%202/Space/navs068.gif">

		<button>Restart Battle</button>
	
</div>

<!--TIE BACKGROUND -->
<div id="tieBack">
	<div id="tieBack2">
	</div>
	<div id="tieBack3">
	<p>IT'S A TIE!!</p>
	
	<input id="button" type="button" value="Restart Game" onClick="this.form.reset()" />

</div>


</body>
</html>